<!DOCTYPE html>
{% load static %}
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Home Page</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet">
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"></script>
</head>

<body class="container mt-5">
  <div class="text-center">
    <h1 class="display-4">{{ greetings }}</h1>

    <div class="row mt-4">
      <div class="col">
        <h2>{{ time }}</h2>

        <h2>{{ date }}</h2>



        <h2>{{ location }}</h2>

        <h1 style="font-size: 100px;">{{ emoji }}</h1>



        <h2>{{ weather }}</h2>

        {% if snow_message %}
        <h2 class="text-white bg-danger p-2">{{ snow_message }}</h2>
        {% endif %}

        {% if snow_delay %}
        <h2 class="text-info">+%{{ snow_delay }} due to snow</h2>
        {% endif %}

        {% if rain_delay %}
        <h2 class="text-primary">+%{{ rain_delay }} due to heavy rain</h2>
        {% endif %}

        <h2>{{ temperature }}°C</h2>
        <h2>{{ work_estimate }}</h2>

       <h1>Your Playlists</h1>

         {% if needs_spotify_sign_in %}
                <h2>Sign in to Spotify</h2>
                <a href="{% url 'spotify' %}">Sign in with Spotify</a>
        {% else %}
        {% include 'spotify.html' %}
        {% endif %}
      </div>
    </div>
  </div>

  <script src="{% static 'js/getlocation.js' %}"></script>
</body>

</html>