


     <div class="card mx-auto" style= "width: 18rem; background-image: url('static/images/rain.gif'); background-size: 60%"   >
      <div class="card-body">
        <h5 class="card-title">{{ weather }} <h1 style="font-size: 50px;">{{ emoji }}</h1></h5>
          <h6 class="card-subtitle mb-2 text-body-secondary"></h6><h6>{{ temperature }}°C</h6>
        {% if snow_message %}
        <p class="text-white bg-danger p-2">{{ snow_message }}</p>
        {% endif %}

        {% if snow_delay %}
        <p class="text-info">+%{{ snow_delay }} due to snow</p>
        {% endif %}

        {% if rain_delay %}
        <p class="text-primary">+%{{ rain_delay }} due to heavy rain</p>
        {% endif %}
      </div>
    </div>



